.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/gradle.properties
app/src/main/res/drawable/bg.xml
Would skip repository libs/android-beacon-library
libs/libs.iml
